@using System.Web.Optimization
@using BootstrapSupport
@using NavigationRoutes

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Styles.Url("~/content/css")" rel="stylesheet"/>
    @*    @RenderSection("head", required: false)*@

    @Html.Partial("_html5shiv")
    @* favicons and touch icons go here *@
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @{ Html.RenderAction("MenuDropDown", "Category"); }
                    @Html.Navigation()
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @*<button type="button" class="btn btn-default navbar-btn">Sign in</button>*@
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                    </li>
                </ul>
            </div>
        <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <ul class="nav nav-tabs navbar-inverse">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li><a href="#">Messages</a></li>
</ul>


    <div class="col-sm-2 navbar-inverse">
        <ul class="nav nav-tabs nav-stacked">
            <li><a href='#'>Another Link 1</a></li>
            <li><a href='#'>Another Link 2</a></li>
            <li><a href='#'>Another Link 3</a></li>
        </ul>
    </div>
    <div class="col-sm-10">
        @RenderSection("featured", required: false)
        @Html.Partial("_validationSummary")
        @Html.Partial("_alerts")
        @RenderBody()
    </div>






    <hr>
    <footer>
        <p>&copy; Company @System.DateTime.Now.ToString("yyyy")</p>
    </footer>

    @Scripts.Render("~/js")
    @RenderSection("Scripts", required: false)
</body>
</html>

