@model Data.Models.Product

<script src="~/Scripts/holder.js"></script>
<div class="container-fluid">
    @{
        var base64 = Convert.ToBase64String(Model.ThumbNailPhoto);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    }
    <div class="row">
        <div class="col-md-3">
            <img src="@imgSrc" class="img-thumbnail img-responsive" width="200" height="120" style="background: #ffffff"><br/>
            <p></p>
            <a href="@Url.Action("Add", "ShoppingCart")" class="btn btn-default btn-xs" role="button" style="width: 200px">Add to Cart</a>
        </div>
        <div class="col-md-9">
            <h3><strong>@Model.Name</strong></h3>
            <hr/>
            <p>Product Number: <strong>@Model.ProductNumber</strong></p>
            <p>Size: <strong>@Model.Size</strong></p>
            <p>Color: <strong>@Model.Color</strong></p>
            <p>Weight: <strong>@Model.Weight</strong></p>
            <hr/>
            <h4><strong>@Model.ListPrice.ToString("C")</strong></h4>
        </div>
    </div>
    <hr/>
</div>
